{% extends "_base/base.html" %}
{% block content %}
<div class="row" style="margin-top:20px">
<form class="form-horizontal">
<div class="form-group">
	<label for="tvUrl" class="col-sm-2 control-label">请输入网站</label>
	<div class="col-sm-8">
    	<input type="text" class="form-control" id="tvUrl" placeholder="请输入网址，例如：http://www.baidu.com">
    </div>	
</div>
<div class="form-group">
	<div class="col-sm-8 col-sm-offset-2">
		<button type="button" id="btnGenerate" class="btn btn-default">生成二维码</button>
		<!--
		<input type="checkbox">
		<a href="agreement.html">我同意协议</a>
		 -->
	</div>
	
	<div id="divPic">
		
	</div>
	
	
</div>

</form>
<div class="center-block">
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256555765'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1256555765%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">

$(function(){
	var monitor=function(){
		$.get("api/state",{"url":$("#tvUrl").val()},function(res){
			if(res.state==0){
				var img=$("<img class='center-block'>").attr("src",res.src+"?"+Math.random());
				var warn=$("<div class='alert alert-warning' role='alert'></div>").text("短网址： " + res.data.surl + " 二维码图片地址： "+res.src);
				$("#divPic").empty().append(img).append(warn);
				warn=$("<div class='alert alert-warning' role='alert'></div>").text("（免广告）失效时间："+res.data.expire_datetime+" 请注意需要重新生成/激活...");
				$("#divPic").empty().append(img).append(warn);
				return;
			}
			setTimeout(monitor,1000);
		},"json");
		
	};
	
	$("#btnGenerate").click(function(){
		$.post("api/generate",{"url":$("#tvUrl").val()},function(res){
			if(res.state==0){
				setTimeout(monitor,1000);
			}
		},"json");
	});
});
</script>
{% endblock%}