{% extends "bootstrap/base.html" %}

{% block title %}二维码工厂--永久免费的短网址、二维码生成工具{% endblock %}
{% block head%}
{{ super() }}

<meta name="keywords" content="二维码, 短网址, 二维码生成工具, 免费, 托管，缩短网址，二维码辨析度，微信推广，网站推广 ">
<meta name="description" content="不是所有二维码都可以被任何手机扫描，二维码可识别度对网址长度有严格要求，二维码工厂帮助您缩短网址。">
<meta name="baidu-site-verification" content="kW7FayCzre" />
<link rel="stylesheet" href="{{url_for('static', filename='awe/css/font-awesome.min.css')}}"></link>
<link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}"></link>

<style type="text/css">
	.navbar{margin-bottom:0px;}
	.left-nav{background-color:white;padding-left:0px}
	.left-nav .nav-block{background-color:#ececec;border-right:1px solid #eee;padding-left:5px;padding-right:5px;}
	#__NAV_BAR__ .focus{color:#000;font-weight:bolder;}
</style>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script>
<script type="text/javascript" src="/js/ext.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
<script type="text/javascript">
	var CURRENT_NAV_ID="{{ NAV_ID }}";
	if(CURRENT_NAV_ID!=""){
		$(document).ready(function(){
			$("#__NAV_BAR__").find("[data-role="+CURRENT_NAV_ID+"]").addClass("focus");
		});
	}
</script>
{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">二维码工厂--永久免费的短网址、二维码生成工具</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="color:white">二维码工厂</a>
            
        </div>
        
    </div>
</div>
{% endblock %}
 
{% block content %}
<div class="container-fluid" >
	<div class="row">
	<div class="col-md-10">
		{% block contentBody %}{% endblock %}
	</div>

	</div>
	<div class="row">
	<div class="center-block">
	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256555765'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1256555765%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
	</div>	
	</div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}

